/************** Status bar - bottom **************/

#status-bar, #status-indicators {
	background: #3c3f41;
	color: #ccc;
}
#status-info {
	color:#ccc;
}
#status-language button { 
	box-shadow: none;
	text-shadow: none;
}
