/************** Status bar - bottom **************/

#status-bar, #status-indicators {
	background: #3c3f41;
	color: #ccc;
}
#status-info {
	color:#ccc;
}
#status-language button { 
	box-shadow: none;
	text-shadow: none;
}

********************************Varius Improvement **************************************************/
/*Modal windows like context-menu, quick-view or hint container*/

#context-menu-bar .dropdown-menu{background:#565656} 
#context-menu-bar .dropdown-menu a{color:rgb(247, 239, 229);} 
#context-menu-bar .dropdown-menu a:hover{background:#403c37;}

#codehint-menu-bar .dropdown-menu{background:#565656;} 
#codehint-menu-bar .dropdown-menu li a{color:rgba(173, 173, 173, 1); font-weight: bolder;}
#codehint-menu-bar .dropdown-menu li a:hover {background:#403c37;} 
